/* 
Color pallete. This section defines variables for the color pallete,
so that we can refer to particular colors by name instead of hexadecimal values.
This is applied to the 'root' psuedo-element, which just means that these color
variables are available to be used anywhere in our html document
*/
:root {
    --white-font: #FFFFFF;
    --black-font: #000000;
    --gray-brown: #706C61;
    --mild-green: #899E8B;
    --green-gray: #99C5B5;
    --cyan: #AFECE7;
    --light-green: #81F499;
    /* add in other color variables for color pallete */
}

body {
    background-color: var(--green-gray);
}

.primary-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: Kufam;
}

.banner1 {
    background-color: var(--gray-brown);
    color: var(--white-font);
    text-align: center;
    border-radius: 0em 0em 1em 1em;
    padding: 1em 1.5em;
}

.essay-title {
    font-family: Kavoon;
    font-size: 2.5em;
    margin-bottom: 1.5em;
}

.essay-subtitle {
    font-size: 1.5em;
    letter-spacing: 0.2em;
}

.banner2 {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-brown);
    text-align: center;
    border-radius: 1em;
    font-size: 1em;
}

.banner2-image {
    width: 100%;
    border-radius: 1em 1em 0em 0em;
}

.banner2-author {
    padding-top: 0.5em;
}

.banner2-subtitle {
    padding-bottom: 0.5em;
}

.content-section1 {
    background-color: var(--mild-green);
}

.section1-image {
    width: 100%;
    /* object-fit: cover;
    float: left; */
}

.section1-header {
    font-weight: bold;
    font-size: 1em;
}

.section1-description {
    line-height: 2em;
    font-size: 0.75em;
}

.essay-image {
    width: 100%;
}

.primary-container {
    display: grid;
    column-gap: 1em;
}

#banner1 {

}

#banner2 {

}

#section1Image {

}

#contentSection1Description {
    
}